<div fxLayout="row" fxLayoutAlign="space-between center" [ngStyle]="{ 'background-color': color()[0], 'color': color()[1] }">
  <span fxLayoutAlign="center center"><button (click)="changeState()" mat-mini-fab [color]="icon()[1]"><i class="material-icons">{{icon()[0]}}</i></button></span>
  <span fxLayoutAlign="center center" >{{eventMember.name}}</span>
  <span fxLayoutAlign="center center"><button *ngIf="eventMember.comment" (click)="showComment()" mat-icon-button matTooltip="{{shortComment}}" matTooltipPosition="after"><i class="material-icons">more_horiz</i></button></span>
</div>
